.contents {
  width: 100ï¼…;
  background-image:
   linear-gradient(
     transparent 95%,
     rgba(0, 0, 0, 0.05) 5%
   ),
   linear-gradient(
     90deg,
     transparent 95%,
     rgba(0, 0, 0, 0.05) 5%
   );
 background-size: 90px 90px;
 background-repeat: repeat;
}

.header{
  border-bottom: 1px solid black;
  width: 75%;
  margin: 0px auto;
}

.header img{
  width: 80px;
}


.header-logo{
  display: inline-block;
  margin-right: 10px;
  vertical-align: 50px;
}

.header-logo i {
  font-size: 18px;
  margin-left: 30px;
  margin-top:20px;
  margin-bottom:20px;
  background-color:#3cb371;
  color: white;
  padding: 9px;
  border-radius:6px;
}

.header ul{
   display:flex;
   justify-content:space-around;

}

.header li{
  font-size: 13px;
  list-style: none;


}

ul.dropdown a{
  text-decoration: none;
  padding: 0px 5px;
  color: black;
}

ul.dropdown span {
  font-weight: bold;
  font-size: 15px;
}

li.ddsport a{
  color: red;
}

.sport-titles {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 0px 15%;
  align-items:baseline;
}

.sport-title {
  flex-basis: 40%;
  border: 1px solid black;
  margin: 15px 15px;
}

.sport-title img {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
}

.sport-title a {
  font-size: 25px;
  border-left: 1px solid black;
  text-decoration: none;
  color: white;
  background-color: black;
  transition-duration: 2s;
}

.sport-title a:hover{
  background-color: red;
  color: black;
}

.sport-title h3 {
  display: flex;
  justify-content:space-between;
  margin: 0 auto;
}


.footer{
  margin-top: 20px;
  margin-left: 30px;
  padding:20px;
  border-top: 1px solid black;
}

.footer * {
  display: inline-block;
  margin-right: 20px;
  margin-bottom:10px;
  text-decoration: none;
}

.topMessage {
  text-align:center;
  padding: 30px 0px;

}

@media(max-width:670px) {
  .header img{
    display: none;
  }
  .header ul{
    display: inline-block;
    margin:5px 20%;
  }

  .header-right {
    display:inline-block;
  }

  .sport-title{
    flex-basis: 80%;
  }
}
